/*
 * Globals
 */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-display: swap;
}

.cover-container {
  max-width: 60em;
}

hr {
  background-color: #bf470f;
  height: 9px !important;
  opacity: 1;
}

h2 {
  font-weight: bold;
  color: #bf470f;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem !important;
  margin-bottom: 0;
}

h4 {
  /* font-weight: bold; */
  color: grey;
  font-size: 1rem !important;
  margin-bottom: 0;
}

.logo {
  height: 20px;
  width: 20px;
  margin-top: -4px;
}

a:link {
  color: #bf470f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #bf470f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #8a2e04;
  background-color: transparent;
  /* text-decoration: underline; */
}

a:active {
  color: #8a2e04;
  background-color: transparent;
  /* text-decoration: underline; */
}