/*
 * Globals
 */

/*
 * Base structure
 */

.cover-container {
  max-width: 60em;
}

.avatar {
  width: 210px;
  height: 210px;
}

.border-primary-override {
  border-color: #bf470f !important;
}



